<h2>Enter your info below to get wild!</h2>

<form action="/registration" method="post">
  <dt>
  <dl><label for="username">Username:</label></dl>
  <dd><input name="username" id="username"></dd>
  <dl><label for="email">Email:</label></dl>
  <dd><input name="email" id="email"></dd>
  <dl><label for="password">Password:</label></dl>
  <dd><input type="password" name="password" id="password"></dd>
  <br>
  <dl><label for="pass_confirm">Please re-enter your password:</label></dl>
  <dd><input type="password" name="pass_confirm" id="pass_confirm"></dd>
  <br>
  <button type="submit">Let's get wild!</button>
  </dt>
</form>