<h1 class="title">Happy Hour Finder</h1>

<form action="/map" method="get">
  <button id="to_map">Get me there</button>
</form>

<div id="to_register">
  <a href="/registration">Not a member? Register here!</a>
</div>




